

.container {
  position: relative;
  overflow-x :hidden;
  height: 95%;
}

.label-content {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.25s;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 123;
  padding: 10px;
}

@media (max-width: 600px) {
  .dropdown {
    padding: 5px;
  }
}

.dropdown-toggle {
  border: none;
  padding: 10px;
  cursor: pointer;
  background: #062e71;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
}

.autocomplete-input {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 4px;
  display: flex;

}

.dropdown-title {
  margin-right: 5px;
}

.dropdown-menu {
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  transition: all 0.5s;
  border-radius: 8px;
}

.dropdown-menu li {
  transition: all 0.5s;
}

.dropdown-menu li:hover {
  background-color: #F7F8F8;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.label {
  margin-left: 5px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.caret {
  transform: rotateX(180deg);
}

.place-details {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.place-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 130px;
}

.direction-button {
  align-self: end;
  background-color: #ED433B;
  color: #FFFFFF;
  padding: 5px 10px;
  border: none;
}
