<div class="layer-panel">
  <label *ngFor="let type of restaurantTypes">
    <input
      type="checkbox"
      [(ngModel)]="type.checked"
      (change)="updateMarkers()"
    />
    {{ type.type }}
  </label>
</div>

<input
type="checkbox"
[(ngModel)]="show"
/>
Show polygon

<google-map
            height="80vh"
            width="98.5vw"
            [options]="mapOptions">
  <map-marker #marker="mapMarker"
              *ngFor="let markerItem of markers"
              [position]="markerItem.position"
              [options]="markerItem.options"
              icon="assets/restaurant.png"
              (mapClick)="openInfoWindow(marker, markerItem)"></map-marker>
              <map-info-window #markerInfoWindow>
                <div>
                  <h4>{{ selectedPlace?.title }}</h4>
                  <p>{{ selectedPlace?.label.text }}</p>
                </div>
              </map-info-window>
  <map-polygon [paths]="vertices" *ngIf="show"></map-polygon>
  <!-- <map-circle [center]="center"
  [radius]="radius"></map-circle> -->

</google-map>
